# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

.pio
.vscode/
/Thumbs.db
*.swp
*.tmp
/genini
src/webserver.cpp.bak
src/*.md
*.md
!src/README.md
*.html
*.css
*.log
*.bin
*.txt
